// HEADER STYLES
.header{
  width: 100%;
}

.header h1{
  background-color: #333333;
  font-size: 64px;
  font-weight: 300;
  color: #FFFFFF;
  margin: 0;
  padding: 16px;
  text-align: center;
}

// pagenav AND pagenav ELEMENT STYLES
.pagenav{
  font-size: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.pagenav_nav-item{
  background-color: #E7E7E7;
  display: inline-block;
  margin: 0;
  width: 25%;
}

.pagenav_nav-item h4{
  font-size: 16px;
  text-align: center;
}

.home-tab, .concert-tab, .carpool-tab{
  border-right: 1px solid #CCCCCC;
}

.selected{
  background-color: #006687;
}
